<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487681710457-6afe9j801105im8apvef8jl8v5gtdg0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487681710457-6afe9j801105im8apvef8jl8v5gtdg0t</string>
	<key>API_KEY</key>
	<string>AIzaSyBNMa6MD5uQom487mOb97DSiVBh1LZuJZs</string>
	<key>GCM_SENDER_ID</key>
	<string>487681710457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ninaparipovic.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-b6919</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-b6919.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487681710457:ios:a2ce99a1131bc13f0eb7a8</string>
</dict>
</plist>